.simple-banner-widget .inner-add-form {
  background: #f1f1f1;
  padding: 5px 5px 0 5px;
  border: 1px solid #cccccc;
  margin-top: 5px;
}
.simple-banner-widget .inner-add-form p {
  margin-bottom: 5px;
  margin-top: 0;  
}
.simple-banner-widget .view ul {
  padding: 0;
}

.simple-banner-widget .view ul li {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;  
}

.simple-banner-widget .view ul li figure {
  margin: 0;
  height: 70px;
  width: 70px;
  margin-right: 10px;
}

.simple-banner-widget .view ul li figure img {
  object-fit: cover;
}
.simple-banner-widget .view ul li article {
  flex: 1;
  position: relative;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.simple-banner-widget .view ul li article p {
  margin: 0;
}

.simple-banner-widget .view ul li article .remove-button{
  position: absolute;
  top: 50%;
  right: 5px;
}

.simple-banner-widget .view ul li article .remove-button span {
  text-decoration: none;
  color: #333;
}
.simple-banner-widget .view ul li article p .order {

}
.simple-banner-widget .view ul li article p input {
  text-decoration: none;
  color: #333;
  height: 1.5em;
  width: 2em;  
}